@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2C2F41;
  --secondary: #F4F6F9;
  --active: #eaedfa;
  --background: #ffffff;
  --neutral-200: #E0E3F1;
  --neutral-500: #8A90B6;
  --success: #00BC00;
  --warning: #FF8A01;
  --overlay: #47586b3d;
  --full: calc(100dvh - 42px);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #F4F6F9;
    --secondary: #2C2F41;
    --active: #47586b3d;
    --background: #000000;
    --neutral-200: #3A3F5A;
    --neutral-500: #8A90B6;
    --success: #00BC00;
    --warning: #FF8A01;
    --overlay: #47586b3d;
    --full: calc(100dvh - 42px);
  }
} */

html {
  font-size: 12px;
}

body {
  color: var(--primary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.trunc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}



.btn {
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--neutral-200);
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary);
}

.btn:active {
  background: var(--neutral-200);
}

.btn:disabled {
  background: var(--secondary);
  color: var(--neutral-500);
  cursor: not-allowed;
}

.btn:disabled>svg>path {
  fill: var(--neutral-500);
}

.btn-primary {
  height: 32px;
  background: var(--primary);
  color: #ffffff;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-primary:active {
  opacity: 0.8;
}

.btn-primary:disabled {
  background: var(--secondary);
  color: var(--neutral-500);
  border: 1px solid var(--neutral-200);
  cursor: not-allowed;
}

.btn-primary:disabled>svg>path {
  fill: var(--neutral-500);
}